@font-face {
    font-family: 'RiformaRegular';
    src: url('RiformaRegular.woff2') format('woff2'),
        url('RiformaRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RiformaBlod';
    src: url('RiformaBlod.woff2') format('woff2'),
        url('RiformaBlod.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

